---
import { getCollection } from "astro:content";
import Page from "@layouts/Page.astro";

export async function getStaticPaths() {
  const blogPosts = await getCollection("blog");
  return blogPosts.map((entry) => ({
    params: { post: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const tags = entry.data.tags.split(",");
---

<Page title={entry.data.title} description={entry.data.description} image={entry.data.image}>
  <div class="row">
    <div class="col-sm-8">
      <div class="blg-summary">
        <h2><a href="#">{entry.data.title}</a></h2>
        <ul class="text-muted list-inline blg-header">
          <li>
            <i class="fa fa-user"></i>
            {entry.data.author}
            {entry.data.author2 && <> and {entry.data.author2}</>}
          </li>
          <li><i class="fa fa-calendar"></i> {entry.data.date}</li>
          {
            entry.data.community_post && (
              <li>
                <span
                  class="label label-default"
                  title="This post has been written by our valued community members"
                  data-toggle="tooltip"
                  data-placement="right"
                >
                  <i class="fa fa-users" /> Community Post
                </span>
              </li>
            )
          }
        </ul>
        <hr />
        <div class="blg-text">
          <Content />
        </div>
        {
          entry.data.ambassador_post && (
            <div class="footer-wrapper" style="margin-top:40px;">
              <img src="/img/nextflow_ambassador_logo.svg" height="70" class="pull-right" style="padding: 1rem 1rem;" />

              <blockquote>
                <p>
                  This post was contributed by a Nextflow Ambassador. Ambassadors are passionate individuals who support the Nextflow
                  community. Interested in becoming an ambassador? Read more about it{" "}
                  <a href="https://www.nextflow.io/ambassadors.html">here</a>.
                </p>
              </blockquote>
            </div>
          )
        }
        <p class="tags">
          {
            tags.map((tag) => (
              <a href={`/tags/${tag}.html`} class="background-color bg-hover-color">
                {tag}
              </a>
            ))
          }
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <h3>Stay Tuned <small>Social Links</small></h3>
      <hr />
      <ul class="blg-social">
        <li>
          <a href="/feed.xml">
            <span class="icon rss">
              <i class="fa fa-rss fa-2x"></i>
            </span>
            <span class="text-muted">Subscribe to our RSS Feed.</span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/nextflowio">
            <span class="icon twitter">
              <i class="fa fa-twitter fa-2x"></i>
            </span>
            <span class="text-muted">Subscribe to our Twitter Feed.</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</Page>
