---
import { getCollection } from "astro:content";
import Page from "@layouts/Page.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => new Date(b.data.date).valueOf() - new Date(a.data.date).valueOf(),
);
---

<Page title="Blog">
  <h4 class="text-muted">Blogging about Nextflow, computational workflows, containers and cloud computing</h4>
  <hr />
  <div class="row">
    <div class="col-sm-8">
      <div class="timeline">
        {
          posts.map((post) => {
            return (
              <section class="blg-summary">
                <h3>
                  <a href={"/blog/" + post.slug + ".html"}>{post.data.title}</a>
                </h3>
                <div class="timeline-info hidden-xs">
                  <img src={"/img/" + post.data.icon} class="blg-author" alt={post.data.author} />
                </div>
                <ul class="text-muted list-inline blg-header">
                  <li>
                    <i class="fa fa-user" /> {post.data.author}
                  </li>
                  <li>
                    <i class="fa fa-calendar" /> {post.data.date}
                  </li>
                </ul>
                <hr />
                <p class="blg-text">{post.data.description}</p>
              </section>
            );
          })
        }
      </div>

      <div class="clearfix"></div>
    </div>
    <div class="col-sm-4">
      <h3>Stay Tuned <small>Social Links</small></h3>
      <hr />
      <ul class="blg-social">
        <li>
          <a href="/feed.xml">
            <span class="icon rss">
              <i class="fa fa-rss fa-2x"></i>
            </span>
            <span class="text-muted">Subscribe to our blog RSS Feed.</span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/nextflowio" target="_blank">
            <span class="icon twitter">
              <i class="fa fa-twitter fa-2x"></i>
            </span>
            <span class="text-muted">Subscribe to our Twitter Feed.</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</Page>
