---
import Layout from "@layouts/Layout.astro";
import Hero from "@components/Hero";
import logoSeqera from "../../public/img/assets/logo_seqera.svg";
import Button from "@components/Button";
import Card from "@components/Card";
import SeqeraHub from "@components/SeqeraHub";
import TerminalComponent from "@components/QuickInstaller/index";
import CommunityGrid from "@components/CommunityGrid/CommunityGrid.astro";
import LogoSliderPlacegolder from "@components/LogoSlider/src/placeholder.svg";
import Square from "../../public/img/assets/square.svg";

// import LogoSlider from "@components/LogoSlider/index"
// import LogoSliderPlacegolder from "@components/LogoSlider/src/placeholder.svg"
---

<Layout
  title="A DSL for parallel and scalable computational pipelines"
  description="Nextflow enables scalable and reproducible scientific workflows using software containers. It allows the adaptation of pipelines written in the most common scripting languages."
>
  <div class="container container-xl mt-17">
    <Hero large>
      <div class="flex flex-col lg:flex-row w-full justify-around items-center gap-auto px-10 py-10 md:py-20 z-20">
        <div class="flex flex-col gap-7 max-w-[600px] lg:mr-6">
          <h1 class="font-display text-4xl md:text-6xl text-brand mt-0">Reproducible Scientific Workflows at Scale</h1>
          <p class="text-lg mb-0">
            Nextflow enables scalable, reproducible, and portable scientific workflows for research and production use
            cases.
          </p>
          <div class="flex flex-col md:flex-row gap-2">
            <Button url="https://nextflow.io/docs/latest/index.html" variant="primary"> Documentation </Button>
            <Button url="https://community.seqera.io/tag/nextflow" variant="secondary"> Community forums </Button>
          </div>

          <div class="flex flex-row flex-wrap inline text-mono mb-10">
            <p>Developed by the Nextflow Community and</p>
            <span>
              <a href="https://seqera.io" target="_blank">
                <img src={logoSeqera.src} alt="Seqera" width="100" height="90" class="h-4 mt-1" />
              </a>
            </span>
          </div>
        </div>

        <div class="hidden sm:flex flex-col gap-2 self-start m-auto lg:m-0">
          <TerminalComponent client:only="react" />
        </div>
      </div>
    </Hero>
  </div>
  <!-- </div> -->

  <!-- {
    /* */
  <div id="summit-banner-container">
    <div id="summit-banner" class="animated fadeInDown">
      <div>
        <a href="https://summit.nextflow.io/">
          <img src="img/summit-2024-barcelona.png" alt="Nextflow Summit 2024" />
        </a>
      </div>
      <div>
        <p>Join us for the latest developments and innovations from the Nextflow world!</p>
        <p>
          With training, a hackathon and talks from pioneers in the field, the Nextflow Summits are essential events for
          anyone using Nextflow.
        </p>
        <a href="https://summit.nextflow.io/2024/barcelona/" class="btn btn-color btn-xxl" style="margin-top: 8px;"
          >Register now</a
        >
      </div>
    </div>
  </div>
  /* */
  } -->

  <div class="clearfix"></div>

  <!-- <div class="">
    <div class="row">
        <div class="flex flex-col gap-2 my-12 text-center w-full">
          <span class="font-mono text-[#087F68]  text-center font-menlo text-l font-normal leading-normal"> > 10.000 organizations run with Nextflow</span>
        </div>
         <img src={LogoSliderPlacegolder.src} alt="Logo Slider" />
    </div>
  </div> -->

  <!-- Seqera Hub -->

  <div class="container container-lg m-auto" id="seqeraHub">
    <div class="row">
      <div class="m-auto">
        <div class="flex flex-col gap-2 my-12 mx-4">
          <span class="font-mono text-[#087F68] m-auto text-center font-menlo text-l font-normal leading-normal">
            > Seqera Hub</span
          >
          <h2 class="text-[#160F26] text-center font-degular text-2xl font-normal leading-[32px] md:max-w-[70%] m-auto">
            Containers, tools and workflows for everyone
          </h2>
        </div>
        <SeqeraHub />
      </div>
    </div>
  </div>

  <!-- Main Features -->

  <div class="container container-lg m-auto px-4" id="Features">
    <div class="row">
      <div class="features">
        <div class="flex flex-col gap-2 my-12 mx-4">
          <span class="font-mono text-[#087F68] m-auto text-center font-menlo text-l font-normal leading-normal">
            > Key Features</span
          >
          <h2 class="text-[#160F26] text-center font-degular text-2xl font-normal leading-[32px] md:max-w-[70%] m-auto">
            Nextflow is built around the idea that Linux is the lingua franca of data science.
          </h2>
        </div>
      </div>
    </div>

    <div class="row example-blocks px-4 md:px-0">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-5 mx-4">
        <div class="flex flex-col gap-2 border border-brand-opacity p-5">
          <div class="flex flex-col gap-2 align-center mb-2">
            <img src={Square.src} class="w-15 h-15 bg-nextflow-600-opacity p-2 rounded-md" />
            <h3 class="text-xl font-normal leading-[38px] text-[28px] font-degular my-0">Fast prototyping</h3>
          </div>

          <div class="flex flex-col gap-4">
            <p class="text-[#160F26] font-normal">
              Nextflow allows you to write a computational pipeline by making it simpler to put together many different
              tasks.
            </p>
            <p class="text-[#160F26] font-normal">
              You may reuse your existing scripts and tools and you don't need to learn a new language or API to start
              using it.
            </p>
          </div>
        </div>

        <div class="flex flex-col gap-2 border border-brand-opacity p-5">
          <div class="flex flex-col gap-2 align-center mb-2">
            <img src={Square.src} class="w-15 h-15 bg-nextflow-600-opacity p-2 rounded-md" />
            <h3 class="text-xl font-normal leading-[38px] text-[28px] font-degular my-0">Reproducibility</h3>
          </div>

          <div class="flex flex-col gap-4">
            <p class="text-[#160F26] font-normal">
              Nextflow supports <a href="http://docker.io" target="_blank" class="link">Docker</a> and <a
                href="http://singularity.lbl.gov/"
                target="_blank"
                class="link">Singularity</a
              > containers technology.
            </p>
            <p class="text-[#160F26] font-normal">
              This, along with the integration of the <a href="http://github.com" target="_blank" class="link">GitHub</a
              > code sharing platform, allows you to write self-contained pipelines, manage versions and to rapidly reproduce
              any former configuration.
            </p>
          </div>
        </div>

        <div class="flex flex-col gap-2 border border-brand-opacity p-5">
          <div class="flex flex-col gap-2 align-center mb-2">
            <img src={Square.src} class="w-15 h-15 bg-nextflow-600-opacity p-2 rounded-md" />
            <h3 class="text-xl font-normal leading-[38px] text-[28px] font-degular my-0">Continuous checkpoints</h3>
          </div>

          <div class="flex flex-col gap-4">
            <p class="text-[#160F26] font-normal">
              All the intermediate results produced during the pipeline execution are automatically tracked.
            </p>
            <p class="text-[#160F26] font-normal">
              This allows you to resume its execution, from the last successfully executed step, no matter what the
              reason was for it stopping.
            </p>
          </div>
        </div>

        <div class="flex flex-col gap-2 border border-brand-opacity p-5">
          <div class="flex flex-col align-center mb-2 gap-2">
            <img src={Square.src} class="w-15 h-15 bg-nextflow-600-opacity p-2 rounded-md" />
            <h3 class="text-xl font-normal leading-[38px] text-[28px] font-degular my-0">Portable</h3>
          </div>

          <div class="flex flex-col gap-4">
            <p class="text-[#160F26] font-normal">
              Nextflow provides an abstraction layer between your pipeline's logic and the execution layer, so that it
              can be executed on multiple platforms without it changing.
            </p>

            <p class="text-[#160F26] font-normal">
              It provides out of the box executors for GridEngine, SLURM, LSF, PBS, Moab and HTCondor batch schedulers
              and for <a href="http://kubernetes.io/" target="_blank" class="link">Kubernetes</a>,
              <a href="http://aws.amazon.com" target="_blank" class="link">Amazon AWS</a>,
              <a href="https://cloud.google.com/compute/" target="_blank" class="link">Google Cloud</a> and
              <a href="https://azure.microsoft.com/" target="_blank" class="link">Microsoft Azure</a> platforms.
            </p>
          </div>
        </div>

        <div class="flex flex-col gap-2 border border-brand-opacity p-5">
          <div class="flex flex-col align-center mb-2 gap-2">
            <img src={Square.src} class="w-15 h-15 bg-nextflow-600-opacity p-2 rounded-md" />
            <h3 class="text-xl font-normal leading-[38px] text-[28px] font-degular my-0">Stream oriented</h3>
          </div>

          <div class="flex flex-col gap-4">
            <p class="text-[#160F26] font-normal">
              Nextflow extends the Unix pipes model with a fluent DSL, allowing you to handle complex stream
              interactions easily.
            </p>
            <p class="text-[#160F26] font-normal">
              It promotes a programming approach, based on functional composition, that results in resilient and easily
              reproducible pipelines.
            </p>
          </div>
        </div>

        <div class="flex flex-col gap-2 border border-brand-opacity p-5">
          <div class="flex flex-col align-center mb-2 gap-2">
            <img src={Square.src} class="w-15 h-15 bg-nextflow-600-opacity p-2 rounded-md" />
            <h3 class="text-xl font-normal leading-[38px] text-[28px] font-degular my-0">Unified parallelism</h3>
          </div>

          <div class="flex flex-col gap-4">
            <p class="text-[#160F26] text-[14px] font-normal">
              Nextflow is based on the <em>dataflow</em> programming model which greatly simplifies writing complex distributed
              pipelines.
            </p>

            <p class="text-[#160F26] text-[14px] font-normal">
              Parallelisation is implicitly defined by the processes input and output declarations. The resulting
              applications are inherently parallel and can scale-up or scale-out, transparently, without having to adapt
              to a specific platform architecture.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container container-lg my-5 md:mt-10" id="WhatsNext">
    <div class="flex flex-col gap-2">
      <div class="flex flex-col gap-2 my-12">
        <span class="font-mono text-[#087F68] m-auto text-center font-menlo text-l font-normal leading-normal">
          > Support</span
        >
        <h3 class="text-[#160F26] text-center font-degular text-2xl font-normal leading-[32px] md:max-w-[70%] m-auto">
          What's next?
        </h3>
      </div>
      <div class="grid md:grid-cols-2 gap-10">
        <div class="flex flex-col gap-2 border border-brand-opacity rounded-xs">
          <div class="grid-bg p-5 flex flex-col justify-center items-center">
            <img
              src="/img/assets/vscode.svg"
              alt="Visual Studio Code extension for Nextflow"
              class="w-full max-h-[170px]"
            />
          </div>
          <div class="flex flex-col gap-5 p-5">
            <h3 class="whitespace-pre-line">Boost Your Workflow with the Nextflow Extension</h3>
            <p class="mb-0">
              Streamline pipeline development right from your IDE with the official Nextflow extension for Visual Studio
              Code.
            </p>
            <Button url="https://marketplace.visualstudio.com/items?itemName=nextflow.nextflowl" variant="link">
              Install from VS Code Marketplace
            </Button>
          </div>
        </div>
        <div class="flex flex-col gap-2 border border-brand-opacity rounded-xs">
          <div class="grid-bg p-5 flex flex-col justify-center items-center">
            <img src="/img/assets/seqeraai.svg" alt="Seqera AI assistant for Nextflow" class="w-full max-h-[170px]" />
          </div>
          <div class="flex flex-col gap-5 p-5">
            <h3 class="whitespace-pre-line">Got Questions? Ask AI.</h3>
            <p class="mb-0">
              Explore Seqera's AI-powered assistant to get instant answers about Nextflow, nf-core, and more — right
              from the source.
            </p>
            <Button url="https://seqera.io/ask-ai/" variant="link"> Ask Seqera AI </Button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="Support" class="container container-lg my-5 md:mt-10">
    <div class="flex flex-col gap-2 my-12">
      <span class="font-mono text-[#087F68] m-auto text-center font-menlo text-l font-normal leading-normal">
        > Support</span
      >
      <h3 class="text-[#160F26] text-center font-degular text-2xl font-normal leading-[32px] md:max-w-[70%] m-auto">
        What's next?
      </h3>
    </div>
    <div class="row px-4">
      <div class="flex flex-wrap gap-5 mt-12">
        <Card
          title="Check out the documentation"
          text="The Nextflow reference manual is available at the above link."
          isHoverable
          button="/docs/latest/index.html"
        />
        <Card
          title="Look at the examples"
          text="See some example code for basic examples to get a feel for how Nextflow pipelines work."
          isHoverable
          button="/example1.html"
        />

        <Card
          title="Follow the training"
          text="Check out the Nextflow training portal for video and written exercies to get started with Nextflow."
          isHoverable
          button="https://training.nextflow.io/latest/"
        />
      </div>

      <div class="flex flex-wrap gap-5 mt-5">
        <Card
          title="Confused? Ask the community"
          text="Get help on the Seqera Community Forum."
          isHoverable
          button="https://community.seqera.io/"
        />
        <Card
          title="Report bugs or request features"
          text="Bug reports help Nextflow improve, so please report any issue you may have!"
          isHoverable
          button="https://github.com/nextflow-io/nextflow/issues"
        />
        <Card
          title="Find pipelines"
          text="Browse open-source pipelines that you can use today, developed by the Nextflow community."
          isHoverable
          button="https://seqera.io/pipelines/"
        />
      </div>
    </div>
  </div>

  <!-- <div class="container container-lg m-auto" id="community">
    <CommunityGrid />
  </div> -->
</Layout>

<!--
    <div class="row example-blocks">
      <div class="col-md-6 col-sm-6 text-left">
        <span class="fa-stack fa-3x pull-left"> </span>

        <div class="block">
          <h3 class="text-center text-color">Continuous checkpoints</h3>

          <p>All the intermediate results produced during the pipeline execution are automatically tracked.</p>
          <p>
            This allows you to resume its execution, from the last successfully executed step, no matter what the reason
            was for it stopping.
          </p>
        </div>
      </div>
      <div class="col-md-6 col-sm-6 text-left-xs">
        <span class="fa-stack fa-3x pull-right-xs"> </span>

        <div class="block">
          <h3 class="text-center text-color">Stream oriented</h3>
          <p>
            Nextflow extends the Unix pipes model with a fluent DSL, allowing you to handle complex stream interactions
            easily.
          </p>
          <p>
            It promotes a programming approach, based on functional composition, that results in resilient and easily
            reproducible pipelines.
          </p>
        </div>
      </div>
    </div> -->
