---
import { getCollection } from "astro:content";
import Page from "@layouts/Page.astro";

export async function getStaticPaths() {
  const episodes = await getCollection("podcast");
  return episodes.map((entry) => ({
    params: { episode: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
const tags = entry.data.tags.split(",");

const netlify_context = import.meta.env.CONTEXT;
const is_deployment_preview = netlify_context == "deploy-preview";
---

<Page title={entry.data.title} description={entry.data.description} image={entry.data.image}>
  <div class="row">
    <div class="col-sm-8">
      <div class="blg-summary podcast" data-golive={Date.parse(entry.data.date)}>
        <h2 class="text-nextflow">
          <span class="label label-success">Episode {entry.data.episode}</span>
          {entry.data.title}
        </h2>
        <h4 class="text-muted blg-description">{entry.data.description}</h4>
        <ul class="text-muted list-inline blg-header">
          <li><i class="fa fa-info-circle"></i> {entry.data.subtype}</li>
          <li><i class="fa fa-calendar"></i> {entry.data.date}</li>
        </ul>
        <hr />
        <div class="blg-text">
          {
            entry.data.youtubeid.length > 6 && (
              <>
                <div style="position: relative; overflow: hidden; width:100%; padding-top: 56.25%;">
                  <iframe
                    src={"https://www.youtube.com/embed/" + entry.data.youtubeid}
                    title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen
                    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"
                  />
                </div>
                <hr />
              </>
            )
          }
          <div class="future-hide"><Content /></div>
          <div class="future-show">Episode coming soon..</div>
        </div>

        <p class="tags">
          {
            tags.map((tag) => (
              <a href={`/tags/{tag}.html`} class="background-color bg-hover-color">
                {tag}
              </a>
            ))
          }
        </p>
      </div>
    </div>
    <div class="col-sm-4">
      <h3>Stay Tuned <small>Social Links</small></h3>
      <hr />
      <ul class="blg-social">
        <li>
          <a href="https://open.spotify.com/show/1slEz7EL46cHa9vdRmPLY4" target="_blank">
            <span class="icon spotify">
              <img src="/img/spotify.png" alt="Spotify" />
            </span>
            <span class="text-muted">Listen on Spotify</span>
          </a>
        </li>
        <li>
          <a href="https://podcasts.apple.com/ca/podcast/channels-the-nextflow-podcast/id1554921146" target="_blank">
            <span class="icon applepodcasts">
              <img src="/img/apple_podcasts.png" alt="Apple Podcasts" />
            </span>
            <span class="text-muted">Listen on Apple Podcasts</span>
          </a>
        </li>
        <li>
          <a
            href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy80ZTAzZGMxOC9wb2RjYXN0L3Jzcw=="
            target="_blank"
          >
            <span class="icon googlepodcasts">
              <img src="/img/google_podcasts.png" alt="Google Podcasts" />
            </span>
            <span class="text-muted">Listen on Google Podcasts</span>
          </a>
        </li>
        <li>
          <a href="https://www.youtube.com/playlist?list=PLPZ8WHdZGxmUAV23hZ9lcZFtt3MAa9IOj" target="_blank">
            <span class="icon googlepodcasts">
              <img src="/img/youtube.png" alt="YoyTube" />
            </span>
            <span class="text-muted">Watch on YouTube</span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/nextflowio" target="_blank">
            <span class="icon twitter">
              <i class="fa fa-twitter fa-2x"></i>
            </span>
            <span class="text-muted">Watch on Twitter spaces</span>
          </a>
        </li>
        <li>
          <a href="https://anchor.fm/s/4e03dc18/podcast/rss">
            <span class="icon rss">
              <i class="fa fa-rss fa-2x"></i>
            </span>
            <span class="text-muted">Podcast RSS Feed</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</Page>

<!-- Podcast - styling for future events -->

{!is_deployment_preview && <script src="/js/podcast_future.js" is:inline />}
